header {
    background-color: #B4D0E7;
    height: 120px;
    width: 100%;
}

/* general nav */
nav {
    background-color: #fff;
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
}

.nav-container {
    display: flex;
    align-items: center;
    gap: 2em;
    width: 50%;
}

.nav-item {
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-item a {
    font-size: 14px;
    font-weight: 600;
    color: #8B8B8B;

}
.nav-item a:hover {
    color: black;
}

.nav-item:hover {
    cursor: pointer;
    line-height: 60px;
    border-bottom: 2px solid black;
}

.container-nav-item {
    display: flex;
    justify-content: space-around;
    gap: 2em;
    height: 60px;
}



/* nav left*/
nav .left {
    justify-content: flex-start;
}

/* nav right*/
nav .right {
    justify-content: flex-end;
}


/* footer */
footer {
    color:  #fff;
    background-color: #000;
    width: 100%;
    padding: 5% 10%;
}

footer .container {
    width: 80%; 
    margin: 0 auto;
}


/* top footer */
.top-footer {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin: 2em auto;
}

.foot-item a {
    color: #ffffffbd;
}
.foot-item a:hover {
    color: #ffffff;
    text-decoration: underline;
}

.foot-item {
    margin-bottom: 0.4em;
}

.foot-container-item h2 {
    margin-bottom: 0.8em;
    font-size: 22px;
}

.foot-container-item ul {
    margin-bottom: 2em;
    font-size: 16px;
}

hr {
    width: 10%;
}


/* regole seleziona lingua */
#language {
    width: 20%;
    margin-top: 2em;
    color: #b8b8b88f;
    cursor: pointer;
}

.fa-globe {
    padding-right: 0.4em;
}