* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Open-Sans, Arial, Helvetica, sans-serif;
}

header {
    background-color: #B4D0E7;
    height: 60vh;
    width: 100%;
}

.but-gen {
    box-shadow: none;
    border: none;
    cursor: pointer;
}

.main-button {
    background-color: #0061FF;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
    padding: 0.5em 1.6em;
}

.main-button:hover {
    background-color: #5aa5e2;
    color: #000;
}

a {
    text-decoration: none;
}

li {
    list-style: none ;
}

.secodary-button {
    font-size: 16px;
    padding: 0.4em 4em;
    background-color: #fff;
    border: 1px solid black ;
    transition: all 0.3s ease-in-out;
}

.secodary-button:hover {
    border: 2px solid black;
    border-bottom: 1px solid rgb(156, 156, 156);
}

.tertiary-button {
    font-size: 16px;
    padding: 0.4em 4em;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
}

.tertiary-button:hover {
  background-color: #f0f0f0;
}