* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Open-Sans, Arial, Helvetica, sans-serif;
}

header {
    background-color: #B4D0E7;
    height: 60vh;
    width: 100%;
}

.but-gen {
    box-shadow: none;
    border: none;
    padding: 0.5em 1.6em;
}

.main-button {
    background-color: #0061FF;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.4s ease-in-out;
}

.main-button:hover {
    background-color: #5aa5e2;
    color: #000;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

main div{
    height: 500px;
    width: 100%;
    background: #fff;
    z-index: 900;
}